
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Deneme</title>
</head>
<body>
    <div>
        @Html.Action("Writings", "Domestic")
    </div>
</body>
</html>
